test.ipynb
_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-50
_weights_offload/facebook/opt-125m/torch.float16/lm_head.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.2.fc2.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.7.fc2.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.7.self_attn.q_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.10.self_attn.out_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/self_attn.q_proj.weight-chunk-11
_weights_offload/facebook/opt-125m/torch.float16/self_attn.out_proj.weight-chunk-12
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.5.self_attn.v_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.4.self_attn.out_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-31
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.2.self_attn.v_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.10.self_attn.q_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/self_attn.out_proj.weight-chunk-13
_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-32
_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-59
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.3.self_attn.v_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.1.self_attn.out_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.3.self_attn.out_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-38
_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-54
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.1.fc2.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/self_attn.q_proj.weight-chunk-8
_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-41
_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-26
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.11.fc2.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.3.self_attn.q_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-42
_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-39
_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-52
_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-52
_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-61
_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-32
_weights_offload/facebook/opt-125m/torch.float16/self_attn.out_proj.weight-chunk-9
_weights_offload/facebook/opt-125m/torch.float16/self_attn.k_proj.weight-chunk-6
_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-29
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.10.fc2.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-60
_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-36
_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-45
_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-45
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.0.self_attn.k_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-47
_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-55
_weights_offload/facebook/opt-125m/torch.float16/self_attn.k_proj.weight-chunk-13
_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-61
_weights_offload/facebook/opt-125m/torch.float16/self_attn.out_proj.weight-chunk-8
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.8.self_attn.k_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/self_attn.out_proj.weight-chunk-11
_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-43
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.8.fc1.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/self_attn.v_proj.weight-chunk-11
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.0.self_attn.q_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-29
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.2.self_attn.k_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.6.self_attn.out_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.2.self_attn.out_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-58
_weights_offload/facebook/opt-125m/torch.float16/self_attn.k_proj.weight-chunk-12
_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-51
_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-58
_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-27
_weights_offload/facebook/opt-125m/torch.float16/self_attn.v_proj.weight-chunk-14
_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-44
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.7.fc1.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/self_attn.k_proj.weight-chunk-10
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.0.fc2.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.0.self_attn.v_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.5.self_attn.k_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-40
_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-33
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.7.self_attn.out_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/self_attn.q_proj.weight-chunk-15
_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-56
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.6.self_attn.q_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/self_attn.k_proj.weight-chunk-7
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.6.fc1.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/self_attn.q_proj.weight-chunk-9
_weights_offload/facebook/opt-125m/torch.float16/self_attn.v_proj.weight-chunk-7
_weights_offload/facebook/opt-125m/torch.float16/self_attn.q_proj.weight-chunk-6
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.9.self_attn.v_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.10.self_attn.v_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-43
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.3.fc2.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/self_attn.v_proj.weight-chunk-12
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.1.fc1.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/self_attn.k_proj.weight-chunk-9
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.0.self_attn.out_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/self_attn.out_proj.weight-chunk-15
_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-44
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.6.self_attn.k_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.11.self_attn.v_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-57
_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-28
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.embed_tokens.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.9.self_attn.out_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.6.self_attn.v_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-63
_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-36
_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-40
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.5.fc2.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-34
_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-25
_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-48
_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-35
_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-35
_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-31
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.1.self_attn.v_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.10.fc1.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-33
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.4.self_attn.k_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-60
_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-37
_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-49
_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-48
_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-39
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.7.self_attn.k_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-59
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.0.fc1.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/self_attn.v_proj.weight-chunk-8
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.3.fc1.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-47
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.9.fc2.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/self_attn.out_proj.weight-chunk-10
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.4.self_attn.q_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/self_attn.v_proj.weight-chunk-15
_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-63
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.1.self_attn.k_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-56
_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-42
_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-53
_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-62
_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-38
_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-25
_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-49
_weights_offload/facebook/opt-125m/torch.float16/self_attn.out_proj.weight-chunk-7
_weights_offload/facebook/opt-125m/torch.float16/self_attn.q_proj.weight-chunk-13
_weights_offload/facebook/opt-125m/torch.float16/self_attn.k_proj.weight-chunk-11
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.8.self_attn.v_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-30
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.4.fc1.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-34
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.8.self_attn.out_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.embed_positions.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.8.self_attn.q_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.5.fc1.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.4.fc2.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.11.fc1.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.3.self_attn.k_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/self_attn.v_proj.weight-chunk-6
_weights_offload/facebook/opt-125m/torch.float16/self_attn.out_proj.weight-chunk-14
_weights_offload/facebook/opt-125m/torch.float16/self_attn.k_proj.weight-chunk-14
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.5.self_attn.out_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.11.self_attn.k_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-26
_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-57
_weights_offload/facebook/opt-125m/torch.float16/self_attn.q_proj.weight-chunk-7
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.4.self_attn.v_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-46
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.7.self_attn.v_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.10.self_attn.k_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-41
_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-28
_weights_offload/facebook/opt-125m/torch.float16/self_attn.k_proj.weight-chunk-8
_weights_offload/facebook/opt-125m/torch.float16/self_attn.q_proj.weight-chunk-10
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.5.self_attn.q_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-51
_weights_offload/facebook/opt-125m/torch.float16/self_attn.q_proj.weight-chunk-14
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.2.self_attn.q_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/self_attn.v_proj.weight-chunk-13
_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-55
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.1.self_attn.q_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-37
_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-62
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.9.fc1.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.8.fc2.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.11.self_attn.q_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/self_attn.v_proj.weight-chunk-9
_weights_offload/facebook/opt-125m/torch.float16/self_attn.q_proj.weight-chunk-12
_weights_offload/facebook/opt-125m/torch.float16/self_attn.k_proj.weight-chunk-15
_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-30
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.11.self_attn.out_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-53
_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-27
_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-46
_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-54
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.9.self_attn.q_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/self_attn.v_proj.weight-chunk-10
_weights_offload/facebook/opt-125m/torch.float16/self_attn.out_proj.weight-chunk-6
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.9.self_attn.k_proj.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.6.fc2.weight.dat
_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-50
_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.2.fc1.weight.dat
test copy.ipynb
rep/nsight_report4.nsys-rep
rep/nsight_report8.nsys-rep
rep/nsight_report10.nsys-rep
rep/nsight_report15.nsys-rep
rep/nsight_report5.nsys-rep
rep/nsight_report7.nsys-rep
rep/nsight_report9.nsys-rep
rep/nsight_report12.nsys-rep
rep/nsight_report11.nsys-rep
rep/nsight_report14.nsys-rep
rep/nsight_report6.nsys-rep
rep/nsight_report13.nsys-rep
