.git/objects/pack/pack-e61841be9a1388df2d70be04bb9d7a398fd17a2a.pack
.git/objects/15/2d2c46cb06d57545e1876f2c6cda1c86ec3de8
lp/sarecomp.ipynb
benchmark/third_party/DeepSpeed/docs/assets/images/softmax_deepspeed.gif
benchmark/third_party/DeepSpeed/docs/assets/images/layernorm_deepspeed.gif
benchmark/third_party/DeepSpeed/docs/assets/images/layernorm_pytorch.gif
benchmark/third_party/DeepSpeed/docs/assets/images/softmax_pytorch.gif
benchmark/third_party/DeepSpeed/docs/assets/images/softmax_animation.gif
benchmark/third_party/DeepSpeed/docs/assets/images/layernorm_animation.gif
docs/FlexGen-Poster.png
test/_weights_offload/facebook/opt-125m/torch.float16/lm_head.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.2.fc2.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.7.fc2.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.7.self_attn.q_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.10.self_attn.out_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.5.self_attn.v_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.4.self_attn.out_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.2.self_attn.v_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.10.self_attn.q_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.3.self_attn.v_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.1.self_attn.out_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.3.self_attn.out_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.1.fc2.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.11.fc2.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.3.self_attn.q_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.10.fc2.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.0.self_attn.k_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.8.self_attn.k_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.8.fc1.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.0.self_attn.q_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.2.self_attn.k_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.6.self_attn.out_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.2.self_attn.out_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.7.fc1.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.0.fc2.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.0.self_attn.v_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.5.self_attn.k_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.7.self_attn.out_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.6.self_attn.q_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.6.fc1.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.9.self_attn.v_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.10.self_attn.v_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.3.fc2.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.1.fc1.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.0.self_attn.out_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.6.self_attn.k_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.11.self_attn.v_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.embed_tokens.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.9.self_attn.out_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.6.self_attn.v_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.5.fc2.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.1.self_attn.v_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.10.fc1.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.4.self_attn.k_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.7.self_attn.k_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.0.fc1.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.3.fc1.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.9.fc2.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.4.self_attn.q_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.1.self_attn.k_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.8.self_attn.v_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.4.fc1.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.8.self_attn.out_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.embed_positions.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.8.self_attn.q_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.5.fc1.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.4.fc2.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.11.fc1.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.3.self_attn.k_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.5.self_attn.out_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.11.self_attn.k_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.4.self_attn.v_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.7.self_attn.v_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.10.self_attn.k_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.5.self_attn.q_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.2.self_attn.q_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.1.self_attn.q_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.9.fc1.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.8.fc2.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.11.self_attn.q_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.11.self_attn.out_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.9.self_attn.q_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.9.self_attn.k_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.6.fc2.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.2.fc1.weight.dat
test/_caches_offload/y-chunk-15
test/_caches_offload/x-chunk-13
test/_caches_offload/x-chunk-14
test/_caches_offload/y-chunk-13
test/_caches_offload/y-chunk-8
test/_caches_offload/x-chunk-6
test/_caches_offload/y-chunk-9
test/_caches_offload/y-chunk-6
test/_caches_offload/y-chunk-11
test/_caches_offload/x-chunk-7
test/_caches_offload/x-chunk-8
test/_caches_offload/y-chunk-12
test/_caches_offload/y-chunk-10
test/_caches_offload/x-chunk-15
test/_caches_offload/x-chunk-12
test/_caches_offload/y-chunk-7
test/_caches_offload/y-chunk-14
test/_caches_offload/x-chunk-11
test/_caches_offload/x-chunk-9
test/_caches_offload/x-chunk-10
test/rep/nsight_report16.nsys-rep
test/rep/nsight_report17.nsys-rep
test/mmap/w4-4
test/mmap/w4-5
test/mmap/w4-0
test/mmap/x4-2
test/mmap/x4-4
test/mmap/w4-1
test/mmap/w4-6
test/mmap/x4-3
test/mmap/w4-7
test/mmap/x4-0
test/mmap/x4-6
test/mmap/w4-3
test/mmap/x4-1
test/mmap/x4-5
test/mmap/x4-7
test/mmap/w4-2
