.git/objects/pack/pack-e61841be9a1388df2d70be04bb9d7a398fd17a2a.pack
.git/objects/15/2d2c46cb06d57545e1876f2c6cda1c86ec3de8
lp/sarecomp.ipynb
benchmark/third_party/DeepSpeed/docs/assets/images/softmax_deepspeed.gif
benchmark/third_party/DeepSpeed/docs/assets/images/layernorm_deepspeed.gif
benchmark/third_party/DeepSpeed/docs/assets/images/layernorm_pytorch.gif
benchmark/third_party/DeepSpeed/docs/assets/images/softmax_pytorch.gif
benchmark/third_party/DeepSpeed/docs/assets/images/softmax_animation.gif
benchmark/third_party/DeepSpeed/docs/assets/images/layernorm_animation.gif
docs/FlexGen-Poster.png
