.git/index
.git/objects/pack/pack-e61841be9a1388df2d70be04bb9d7a398fd17a2a.idx
.git/objects/pack/pack-e61841be9a1388df2d70be04bb9d7a398fd17a2a.pack
.git/objects/15/2d2c46cb06d57545e1876f2c6cda1c86ec3de8
lp/sarecomp.ipynb
lp/stage-xyz-opt30b.ipynb
lp/stage-xyz-opt125m.ipynb
benchmark/third_party/DeepSpeed/tests/unit/gpt2-vocab.json
benchmark/third_party/DeepSpeed/tests/unit/gpt2-merges.txt
benchmark/third_party/DeepSpeed/docs/assets/images/moe-nlg.png
benchmark/third_party/DeepSpeed/docs/assets/images/3d-parallelism.png
benchmark/third_party/DeepSpeed/docs/assets/images/hf-logo.png
benchmark/third_party/DeepSpeed/docs/assets/images/zero3-offload-memory-overview.png
benchmark/third_party/DeepSpeed/docs/assets/images/mii/opt.png
benchmark/third_party/DeepSpeed/docs/assets/images/mii/hero-transparent.png
benchmark/third_party/DeepSpeed/docs/assets/images/mii/opt-bloom.png
benchmark/third_party/DeepSpeed/docs/assets/images/mii/bloom.png
benchmark/third_party/DeepSpeed/docs/assets/images/mii/roberta.png
benchmark/third_party/DeepSpeed/docs/assets/images/mii/bert.png
benchmark/third_party/DeepSpeed/docs/assets/images/mii/mii-arch.png
benchmark/third_party/DeepSpeed/docs/assets/images/mii/gpt.png
benchmark/third_party/DeepSpeed/docs/assets/images/mii/hero.png
benchmark/third_party/DeepSpeed/docs/assets/images/layernorm_ds.png
benchmark/third_party/DeepSpeed/docs/assets/images/webinar-aug2020.png
benchmark/third_party/DeepSpeed/docs/assets/images/softmax_deepspeed.gif
benchmark/third_party/DeepSpeed/docs/assets/images/xtc-1.png
benchmark/third_party/DeepSpeed/docs/assets/images/onebit-adam-overview.png
benchmark/third_party/DeepSpeed/docs/assets/images/xtc-3.png
benchmark/third_party/DeepSpeed/docs/assets/images/inference-kernel-fusion.png
benchmark/third_party/DeepSpeed/docs/assets/images/perf-overview.png
benchmark/third_party/DeepSpeed/docs/assets/images/large-model-graph.png
benchmark/third_party/DeepSpeed/docs/assets/images/layernorm_deepspeed.gif
benchmark/third_party/DeepSpeed/docs/assets/images/softmax_torch.png
benchmark/third_party/DeepSpeed/docs/assets/images/layernorm_pytorch.gif
benchmark/third_party/DeepSpeed/docs/assets/images/inference-gemm-scheduling.png
benchmark/third_party/DeepSpeed/docs/assets/images/wandb_monitor.PNG
benchmark/third_party/DeepSpeed/docs/assets/images/tensorboard_monitor.PNG
benchmark/third_party/DeepSpeed/docs/assets/images/xtc-4.png
benchmark/third_party/DeepSpeed/docs/assets/images/softmax_pytorch.gif
benchmark/third_party/DeepSpeed/docs/assets/images/inference-throughput.png
benchmark/third_party/DeepSpeed/docs/assets/images/old-vs-new-azure.png
benchmark/third_party/DeepSpeed/docs/assets/images/softmax_animation.gif
benchmark/third_party/DeepSpeed/docs/assets/images/adam-convergence.png
benchmark/third_party/DeepSpeed/docs/assets/images/layernorm_animation.gif
benchmark/third_party/DeepSpeed/docs/assets/images/softmax_ds.png
benchmark/third_party/DeepSpeed/docs/assets/images/xtc-2.png
benchmark/third_party/DeepSpeed/docs/assets/images/layernorm_torch.png
benchmark/third_party/DeepSpeed/docs/assets/images/zero-full.png
benchmark/third_party/DeepSpeed/deepspeed/runtime/zero/stage3.py
benchmark/third_party/DeepSpeed/deepspeed/runtime/zero/stage_1_and_2.py
benchmark/third_party/DeepSpeed/deepspeed/runtime/engine.py
benchmark/third_party/transformers/tests/test_modeling_common.py
benchmark/third_party/transformers/tests/models/bigbird_pegasus/test_modeling_bigbird_pegasus.py
benchmark/third_party/transformers/tests/models/markuplm/test_tokenization_markuplm.py
benchmark/third_party/transformers/tests/models/layoutlmv3/test_tokenization_layoutlmv3.py
benchmark/third_party/transformers/tests/models/layoutlmv2/test_tokenization_layoutlmv2.py
benchmark/third_party/transformers/tests/fixtures/tests_samples/COCO/000000039769.png
benchmark/third_party/transformers/tests/fixtures/test_sentencepiece_bpe.model
benchmark/third_party/transformers/tests/fixtures/spiece.model
benchmark/third_party/transformers/tests/fixtures/test_sentencepiece_no_bos.model
benchmark/third_party/transformers/tests/fixtures/test_sentencepiece.model
benchmark/third_party/transformers/tests/fixtures/test_sentencepiece_with_bytefallback.model
benchmark/third_party/transformers/tests/test_tokenization_common.py
benchmark/third_party/transformers/tests/generation/test_generation_utils.py
benchmark/third_party/transformers/tests/trainer/test_trainer.py
benchmark/third_party/transformers/tests/test_modeling_tf_common.py
benchmark/third_party/transformers/templates/adding_a_new_model/cookiecutter-template-{{cookiecutter.modelname}}/modeling_{{cookiecutter.lowercase_modelname}}.py
benchmark/third_party/transformers/templates/adding_a_new_model/cookiecutter-template-{{cookiecutter.modelname}}/modeling_flax_{{cookiecutter.lowercase_modelname}}.py
benchmark/third_party/transformers/templates/adding_a_new_model/cookiecutter-template-{{cookiecutter.modelname}}/modeling_tf_{{cookiecutter.lowercase_modelname}}.py
benchmark/third_party/transformers/examples/research_projects/pplm/imgs/headfigure.png
benchmark/third_party/transformers/examples/research_projects/pplm/imgs/wooly.png
benchmark/third_party/transformers/src/transformers/models/bigbird_pegasus/modeling_bigbird_pegasus.py
benchmark/third_party/transformers/src/transformers/models/conditional_detr/modeling_conditional_detr.py
benchmark/third_party/transformers/src/transformers/models/deformable_detr/modeling_deformable_detr.py
benchmark/third_party/transformers/src/transformers/models/luke/modeling_luke.py
benchmark/third_party/transformers/src/transformers/models/big_bird/modeling_flax_big_bird.py
benchmark/third_party/transformers/src/transformers/models/big_bird/modeling_big_bird.py
benchmark/third_party/transformers/src/transformers/models/detr/modeling_detr.py
benchmark/third_party/transformers/src/transformers/models/xlm_prophetnet/modeling_xlm_prophetnet.py
benchmark/third_party/transformers/src/transformers/models/reformer/modeling_reformer.py
benchmark/third_party/transformers/src/transformers/models/prophetnet/modeling_prophetnet.py
benchmark/third_party/transformers/src/transformers/models/maskformer/modeling_maskformer.py
benchmark/third_party/transformers/src/transformers/models/longformer/modeling_tf_longformer.py
benchmark/third_party/transformers/src/transformers/models/longformer/modeling_longformer.py
benchmark/third_party/transformers/src/transformers/models/led/modeling_led.py
benchmark/third_party/transformers/src/transformers/models/led/modeling_tf_led.py
benchmark/third_party/transformers/src/transformers/models/longt5/modeling_longt5.py
benchmark/third_party/transformers/src/transformers/models/longt5/modeling_flax_longt5.py
benchmark/third_party/transformers/src/transformers/models/tapas/tokenization_tapas.py
benchmark/third_party/transformers/src/transformers/models/tapas/modeling_tapas.py
benchmark/third_party/transformers/src/transformers/models/tapas/modeling_tf_tapas.py
benchmark/third_party/transformers/src/transformers/models/perceiver/modeling_perceiver.py
benchmark/third_party/transformers/src/transformers/__init__.py
benchmark/third_party/transformers/src/transformers/trainer.py
benchmark/third_party/transformers/src/transformers/generation_tf_utils.py
benchmark/third_party/transformers/src/transformers/generation_utils.py
benchmark/third_party/transformers/src/transformers/modeling_tf_utils.py
benchmark/third_party/transformers/src/transformers/tokenization_utils_base.py
benchmark/third_party/transformers/src/transformers/modeling_utils.py
benchmark/third_party/transformers/src/transformers/utils/dummy_pt_objects.py
docs/FlexGen-Poster.png
docs/throughput_vs_latency.jpg
docs/block_schedule.jpg
general/a.nsys-rep
nsight_report5.nsys-rep
flexgen/res.prof
flexgen/apps/data_wrangle/utils/constants.py
flexgen/prof.nvvp
flexgen/prof
test/test.ipynb
test/_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-50
test/_weights_offload/facebook/opt-125m/torch.float16/lm_head.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.2.fc2.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.7.fc2.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.7.self_attn.q_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.10.self_attn.out_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/self_attn.q_proj.weight-chunk-11
test/_weights_offload/facebook/opt-125m/torch.float16/self_attn.out_proj.weight-chunk-12
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.5.self_attn.v_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.4.self_attn.out_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-31
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.2.self_attn.v_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.10.self_attn.q_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/self_attn.out_proj.weight-chunk-13
test/_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-32
test/_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-59
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.3.self_attn.v_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.1.self_attn.out_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.3.self_attn.out_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-38
test/_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-54
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.1.fc2.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/self_attn.q_proj.weight-chunk-8
test/_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-41
test/_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-26
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.11.fc2.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.3.self_attn.q_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-42
test/_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-39
test/_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-52
test/_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-52
test/_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-61
test/_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-32
test/_weights_offload/facebook/opt-125m/torch.float16/self_attn.out_proj.weight-chunk-9
test/_weights_offload/facebook/opt-125m/torch.float16/self_attn.k_proj.weight-chunk-6
test/_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-29
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.10.fc2.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-60
test/_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-36
test/_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-45
test/_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-45
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.0.self_attn.k_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-47
test/_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-55
test/_weights_offload/facebook/opt-125m/torch.float16/self_attn.k_proj.weight-chunk-13
test/_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-61
test/_weights_offload/facebook/opt-125m/torch.float16/self_attn.out_proj.weight-chunk-8
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.8.self_attn.k_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/self_attn.out_proj.weight-chunk-11
test/_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-43
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.8.fc1.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/self_attn.v_proj.weight-chunk-11
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.0.self_attn.q_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-29
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.2.self_attn.k_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.6.self_attn.out_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.2.self_attn.out_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-58
test/_weights_offload/facebook/opt-125m/torch.float16/self_attn.k_proj.weight-chunk-12
test/_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-51
test/_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-58
test/_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-27
test/_weights_offload/facebook/opt-125m/torch.float16/self_attn.v_proj.weight-chunk-14
test/_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-44
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.7.fc1.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/self_attn.k_proj.weight-chunk-10
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.0.fc2.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.0.self_attn.v_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.5.self_attn.k_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-40
test/_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-33
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.7.self_attn.out_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/self_attn.q_proj.weight-chunk-15
test/_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-56
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.6.self_attn.q_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/self_attn.k_proj.weight-chunk-7
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.6.fc1.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/self_attn.q_proj.weight-chunk-9
test/_weights_offload/facebook/opt-125m/torch.float16/self_attn.v_proj.weight-chunk-7
test/_weights_offload/facebook/opt-125m/torch.float16/self_attn.q_proj.weight-chunk-6
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.9.self_attn.v_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.10.self_attn.v_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-43
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.3.fc2.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/self_attn.v_proj.weight-chunk-12
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.1.fc1.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/self_attn.k_proj.weight-chunk-9
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.0.self_attn.out_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/self_attn.out_proj.weight-chunk-15
test/_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-44
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.6.self_attn.k_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.11.self_attn.v_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-57
test/_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-28
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.embed_tokens.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.9.self_attn.out_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.6.self_attn.v_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-63
test/_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-36
test/_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-40
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.5.fc2.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-34
test/_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-25
test/_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-48
test/_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-35
test/_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-35
test/_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-31
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.1.self_attn.v_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.10.fc1.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-33
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.4.self_attn.k_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-60
test/_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-37
test/_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-49
test/_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-48
test/_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-39
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.7.self_attn.k_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-59
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.0.fc1.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/self_attn.v_proj.weight-chunk-8
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.3.fc1.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-47
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.9.fc2.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/self_attn.out_proj.weight-chunk-10
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.4.self_attn.q_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/self_attn.v_proj.weight-chunk-15
test/_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-63
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.1.self_attn.k_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-56
test/_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-42
test/_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-53
test/_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-62
test/_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-38
test/_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-25
test/_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-49
test/_weights_offload/facebook/opt-125m/torch.float16/self_attn.out_proj.weight-chunk-7
test/_weights_offload/facebook/opt-125m/torch.float16/self_attn.q_proj.weight-chunk-13
test/_weights_offload/facebook/opt-125m/torch.float16/self_attn.k_proj.weight-chunk-11
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.8.self_attn.v_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-30
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.4.fc1.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-34
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.8.self_attn.out_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.embed_positions.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.8.self_attn.q_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.5.fc1.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.4.fc2.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.11.fc1.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.3.self_attn.k_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/self_attn.v_proj.weight-chunk-6
test/_weights_offload/facebook/opt-125m/torch.float16/self_attn.out_proj.weight-chunk-14
test/_weights_offload/facebook/opt-125m/torch.float16/self_attn.k_proj.weight-chunk-14
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.5.self_attn.out_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.11.self_attn.k_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-26
test/_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-57
test/_weights_offload/facebook/opt-125m/torch.float16/self_attn.q_proj.weight-chunk-7
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.4.self_attn.v_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-46
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.7.self_attn.v_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.10.self_attn.k_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-41
test/_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-28
test/_weights_offload/facebook/opt-125m/torch.float16/self_attn.k_proj.weight-chunk-8
test/_weights_offload/facebook/opt-125m/torch.float16/self_attn.q_proj.weight-chunk-10
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.5.self_attn.q_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-51
test/_weights_offload/facebook/opt-125m/torch.float16/self_attn.q_proj.weight-chunk-14
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.2.self_attn.q_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/self_attn.v_proj.weight-chunk-13
test/_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-55
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.1.self_attn.q_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-37
test/_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-62
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.9.fc1.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.8.fc2.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.11.self_attn.q_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/self_attn.v_proj.weight-chunk-9
test/_weights_offload/facebook/opt-125m/torch.float16/self_attn.q_proj.weight-chunk-12
test/_weights_offload/facebook/opt-125m/torch.float16/self_attn.k_proj.weight-chunk-15
test/_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-30
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.11.self_attn.out_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-53
test/_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-27
test/_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-46
test/_weights_offload/facebook/opt-125m/torch.float16/fc1.weight-chunk-54
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.9.self_attn.q_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/self_attn.v_proj.weight-chunk-10
test/_weights_offload/facebook/opt-125m/torch.float16/self_attn.out_proj.weight-chunk-6
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.9.self_attn.k_proj.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.6.fc2.weight.dat
test/_weights_offload/facebook/opt-125m/torch.float16/fc2.weight-chunk-50
test/_weights_offload/facebook/opt-125m/torch.float16/model.decoder.layers.2.fc1.weight.dat
test/test copy.ipynb
test/test copy 3.ipynb
test/rep/nsight_report4.nsys-rep
test/rep/nsight_report8.nsys-rep
test/rep/nsight_report10.nsys-rep
test/rep/nsight_report15.nsys-rep
test/rep/nsight_report5.nsys-rep
test/rep/nsight_report16.nsys-rep
test/rep/nsight_report17.nsys-rep
test/rep/nsight_report7.nsys-rep
test/rep/nsight_report9.nsys-rep
test/rep/nsight_report12.nsys-rep
test/rep/nsight_report11.nsys-rep
test/rep/nsight_report14.nsys-rep
test/rep/nsight_report6.nsys-rep
test/rep/nsight_report13.nsys-rep
test/mmap/w4-4
test/mmap/w4-5
test/mmap/w4-0
test/mmap/x4-2
test/mmap/x4-4
test/mmap/w4-1
test/mmap/w4-6
test/mmap/x4-3
test/mmap/w4-7
test/mmap/x4-0
test/mmap/x4-6
test/mmap/w4-3
test/mmap/x4-1
test/mmap/x4-5
test/mmap/x4-7
test/mmap/w4-2
